/*
Author: Francesco Lepore
*/

*{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sfondo{
  background-size: cover;
  background-repeat: no-repeat;
}

.velina {
  width:70%;
  margin-top: 40px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  Padding: 80px;
  border-radius: 15px;
  background: rgba(0,0,0,0.6);
}

.container{
  margin-left: auto;
  margin-right: auto;
}

.container_top{
  text-align: center;
}

.logo { width:200px;
    padding:10px;
}

.green{
   color: #00dd00;
}

.white{
  color: #ffffff;
}

/* stile barra verde e pulsanti */

.menu{
  background-color: #00dd00;
  line-height: 36px;
  margin-top: 6px;
}

.menu > input{
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

input:hover{
  font-size: 16px;
  color: blue;
}

input:active{
  color: orange;
}

.carta_mezzo{
  margin-top: 18px;
  line-height: 20px;
}

.posizione,.carica{
  font-size: 12px;
  line-height: 20px;
}

/* spaziatura simboli testo carte*/

h4 > span{
  margin-left: 3px;
  margin-right: 6px;
}

div > span{
  margin-right: 4px;
}

/* colori e stati carica */

.full{
  border-radius: 12px;
  background-color: rgba(0,0,0,0.5);
  width: 66%;
  min-height: 24px;
  padding: 4px;
}

#barra01{
  border-radius: 8px;
  background-color: orange;
  width: 45%;
  min-height: 16px;
}

#barra02{
  border-radius: 8px;
  background-color: green;
  width: 97%;
  min-height: 16px;
}

#barra03{
  border-radius: 8px;
  background-color: red;
  width: 18%;
  min-height: 16px;
}
